# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
guidelines = 120

[*.cs]
#Formatting - organize using options

#sort System.* using directives alphabetically, and place them before other usings
dotnet_sort_system_directives_first = true

#Formatting - header template

#add file header template
file_header_template = ----------------------------------------------------------------------------------\nCopyright (c) The Standard Organization, a coalition of the Good-Hearted Engineers\n----------------------------------------------------------------------------------